[Unit]
Description={{ springboot_application_name }}
After=syslog.target

[Service]
User={{ springboot_user }}
ExecStart="{{ springboot_deploy_folder }}/{{ springboot_application_name }}.jar"
SuccessExitStatus=143
Restart=on-failure

[Install]
WantedBy=multi-user.target
